.side_drawwer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;

  z-index: 10;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
  }

  li {
    margin: 1.5em;
  }
  .divider {
    border-top: solid 1px black;
    width: 100%;
    text-align: center;
    /* padding: 2em 0; */
    padding-top: 2em;
  }
  .signin {
    border: solid 1px;
    padding: 0.6em;
  }

  a {
    color: black;
  }
}
