.side_drawwer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  transition: width 0.3s ease-in-out 0s;

  z-index: 10;

  .user_info {
    margin-bottom: 0;
  }

  .signin_li {
    margin: 3em 0;
  }

  .user_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 50%;
      width: 3em;
      height: 3em;
    }

    h5 {
      color: black;
      font-size: 0.9em;
      margin: 1em;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 4em;
  }

  li {
    margin: 1.2em;
  }
  .divider {
    border-top: solid 1px black;
    width: 100%;
    text-align: center;
    /* padding: 2em 0; */
    padding-top: 2em;
  }
  .signin {
    border: solid 1px;
    padding: 0.6em;
  }

  a {
    color: black;
  }
}
