.container {
  // #cancel_button {
  //   position: absolute;
  //   top: 2%;
  //   right: 2%;
  // }

  .input_group {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin: 12% 0%;
  }
}

.order_modal_content {
  color: black;
  border: 1px solid gray;
  background: white;
  border-radius: 4px;
  padding: 2em;
}

.order_modal_overlay {
  position: fixed;
  height: fit-content;
  width: 95%;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 12;
}

.header_exitbtn_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input_group {
  padding: 2em 0em;
}

.input_group input {
  height: 2.5em;
  margin: 0.5em 0;
}

.input_group label {
  font-weight: bold;
  font-size: 0.9em;
}

.name_field {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.address_field {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.phone_field {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}

.loader_wrapper {
  left: 30%;
  top: -8%;
  position: relative;
}

.bill {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
}

.submit_btn {
  width: 100%;
  background: coral;
  color: white;
  border: none;
  font-size: 1em;
}
