.container {
  .order_item {
    // display: flex;
    // justify-content: space-between;
    // border-bottom: solid 1px gray;
    display: flex;
    border: solid 1px lightgray;
    border-radius: 10px;
    margin: 0.3em 0;

    img {
      flex: 1;
      object-fit: contain;
      width: 36%;
      height: 160px;
    }
  }

  .row_items_holder {
    flex: 2;
    display: flex;
    flex-direction: column;

    .order_item_price {
      padding: 0 0.5em;
    }
  }

  .row_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
  }
}

@media (min-width: 360px) {
  .container img {
    width: 100%;
  }
}

// @media (min-width: 411px) {
//   .container img {
//     width: 8em;
//   }
// }
