.container {
  margin: 4em 0;
  border-top: solid 1px white;

  .headline_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;

    p {
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .arrow_holder {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;

    svg {
      color: white;
      border: solid 1px;
      border-radius: 50%;
      background: darkslategray;
    }

    svg:first-child {
      margin: 0 0.6em;
    }
  }
}
