.container {
  margin-bottom: 2em;
  margin-top: 2em;
  position: relative;
  p:first-child {
    font-weight: bold;
  }
  .arrow_holder {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;

    svg {
      color: white;
      border: solid 1px;
      border-radius: 50%;
      background: darkslategray;
    }

    svg:first-child {
      margin: 0 0.6em;
    }
  }
}
