.container {
  position: fixed;
  width: 100%;
  height: 63px;
  bottom: 0;
  left: 0;
  background: black;
  transition: height 0.3s ease-in-out 0s;
  .cart_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: solid 3px coral;
    border-bottom: solid 1px gray;
  }

  .down_arrow {
    width: 1em;
    height: 1em;
    background: transparent;
    filter: invert(1);
  }

  .bill_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
  }

  .btn_wrapper {
    width: 100%;
    text-align: center;
    margin-top: 1em;

    button {
      width: 95%;
      height: 2.5em;
      background: coral;
      color: white;
      font-size: 1.2em;
      font-weight: bold;
      border: none;
    }
  }
}
