.container {
  margin: 0 auto;

  .food_menu_title {
    margin-top: 2.5em;
    font-size: 1.5rem;
    animation-name: FoodMenu_FoodMenu_food_menu_text__21M9Y__31qef;
    animation-duration: 3s;
    padding: 4em 1em;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: -1em;
  }

  .wallpaper_wrapper {
    background: url("../../images//pizza_wallpaper_two.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .food_restaurants_wrapper {
    padding: 0 1em;
    background: black;
  }

  .food_menu_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@keyframes food_menu_text {
  0% {
    // margin-left: -4em;
    opacity: 0;
  }

  100% {
    // margin-left: 0em;
    opacity: 1;
  }
}
