.container {
  width: 90%;
  /* margin-top: 9em; */
  margin: 0 auto;
  //background: url(../../images/pizza_wallpaper_two.jpg);
  //overflow: scroll;
  // max-height: 700px;

  padding: 5em 0em;

  .food_menu_title {
    margin-top: 3em;
    font-size: 1.5rem;
    animation-name: food_menu_text;
    animation-duration: 3s;
  }
}

@keyframes food_menu_text {
  0% {
    // margin-left: -4em;
    opacity: 0;
  }

  100% {
    // margin-left: 0em;
    opacity: 1;
  }
}
