.container {
  padding: 2em 0;
  border-top: solid 1px gray;
  text-align: center;
  ul {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  li {
    // margin: 0 0.5em;
    border-bottom: solid 1px gray;
    padding: 1em 0;
  }
}
