.container {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 5%;
  width: 100%;
  text-align: start;
  /* padding: 0 1em; */
  margin: 0 0.5em;
  overflow: hidden;

  img {
    height: 5em;
    width: 100%;
  }

  h3 {
    font-size: 1em;
  }
}
