.container {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 5%;
  text-align: center;
  padding: 0.3em;
  margin-right: 0.5em;
  background: rgba(20, 50, 30, 0.3);

  img {
    height: 5em;
    width: 100%;
  }

  h3 {
    font-size: 1em;
  }

  .rating {
    display: flex;
  }

  .delivery_price {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-left: 0.3em;
    }
  }
}

.active {
  border: solid 1px orange;
}

.inactive {
  background: rgba(20, 50, 30, 0.3);
  border: solid 1px;
}

@media (min-width: 410px) {
  .container {
    padding: 0.5em;
  }
}

@media (min-width: 600px) {
  .container {
    padding: 1em;
  }
}
