.container {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 5%;
  text-align: center;
  padding: 0.2em;
  margin-right: 0.5em;
  background: rgba(20, 50, 30, 0.3);

  img {
    height: 5em;
    width: 8em;
  }

  h3 {
    font-size: 1em;
  }
}

.active {
  background: rgba(20, 50, 30, 0.6);
  border: solid 1px coral;
}

.inactive {
  background: rgba(20, 50, 30, 0.3);
  border: solid 1px;
}
