$headerColor: black;

.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: $headerColor;
  height: 70px;
  display: flex;
  z-index: 10;
  // justify-content: space-around;
  align-items: center;
  // padding-right: 10em;
  // padding-left: 2em;

  .hambruger_btn {
    position: relative;
    left: 1em;
  }

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: coral;
    text-align: center;
    width: 100%;
  }

  nav {
    display: none;
  }

  ul {
    display: flex;
  }

  li {
    padding: 0 1em;
  }

  .signin {
    border: solid 1px;
    padding: 0.6em;
  }
}
