.container {
  margin-top: 6em;

  nav {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 3em;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    ul {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      li {
        padding: 1em;
        border-radius: 5px;
      }
    }
  }

  .selected {
    background: slategray;
  }

  .user_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    background: lightslategray;

    img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
    }
    h4 {
      color: white;
    }
  }

  .submit_btn {
    width: 50%;
    background: coral;
    color: white;
    font-size: 0.9em;
  }

  .user_info_form {
    margin: 0 auto;
    width: 90%;
    /* padding: 0em; */
    margin-top: 3em;

    h5 {
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }

    .name_field {
      display: flex;
      flex-direction: column;
    }

    .phone_field {
      display: flex;
      flex-direction: column;
    }

    .email_field {
      display: flex;
      flex-direction: column;
    }
    .email_field input {
      color: white;
      background: dimgray;
    }
  }

  .change_password_form {
    margin: 0 auto;
    width: 90%;
    margin-top: 2em;
    border-top: solid 1px gray;
    padding-top: 1em;

    h3 {
      padding-bottom: 1em;
    }

    .current_password_field {
      display: flex;
      flex-direction: column;
    }

    .new_password_field {
      display: flex;
      flex-direction: column;
    }
  }
}
