.container {
  margin-top: 6em;
  .user_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;

    img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
    }
    h4 {
      color: white;
    }
  }
}
